.expenses-list {
  list-style: none;
  padding: 0;
}

.expenses-list__fallback {
  color: white;
  text-align: center;
}

.back_message {
  color: yellow;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem 0;
}